<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.Config" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cfg_name" property="cfgName" jdbcType="VARCHAR" />
    <result column="value_str" property="valueStr" jdbcType="VARCHAR" />
    <result column="value_int" property="valueInt" jdbcType="INTEGER" />
    <result column="value_time" property="valueTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="usable" property="usable" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cfg_name, value_str, value_int, value_time, description, usable, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.Config" >
    insert into config (id, cfg_name, value_str, 
      value_int, value_time, description, 
      usable, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{cfgName,jdbcType=VARCHAR}, #{valueStr,jdbcType=VARCHAR}, 
      #{valueInt,jdbcType=INTEGER}, #{valueTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{usable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.Config" >
    insert into config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cfgName != null" >
        cfg_name,
      </if>
      <if test="valueStr != null" >
        value_str,
      </if>
      <if test="valueInt != null" >
        value_int,
      </if>
      <if test="valueTime != null" >
        value_time,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cfgName != null" >
        #{cfgName,jdbcType=VARCHAR},
      </if>
      <if test="valueStr != null" >
        #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="valueInt != null" >
        #{valueInt,jdbcType=INTEGER},
      </if>
      <if test="valueTime != null" >
        #{valueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.Config" >
    update config
    <set >
      <if test="cfgName != null" >
        cfg_name = #{cfgName,jdbcType=VARCHAR},
      </if>
      <if test="valueStr != null" >
        value_str = #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="valueInt != null" >
        value_int = #{valueInt,jdbcType=INTEGER},
      </if>
      <if test="valueTime != null" >
        value_time = #{valueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.Config" >
    update config
    set cfg_name = #{cfgName,jdbcType=VARCHAR},
      value_str = #{valueStr,jdbcType=VARCHAR},
      value_int = #{valueInt,jdbcType=INTEGER},
      value_time = #{valueTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      usable = #{usable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
  <select id="load" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from config
    where usable = 1
  </select>
  <select id="selectByCfgName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from config
    where usable = 1 and cfg_name = #{cfgName,jdbcType=INTEGER}
  </select>
</mapper>