<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="inner_id" property="innerId" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="value_str" property="valueStr" jdbcType="VARCHAR" />
    <result column="value_int" property="valueInt" jdbcType="INTEGER" />
    <result column="value_time" property="valueTime" jdbcType="TIMESTAMP" />
    <result column="param_str_1" property="paramStr1" jdbcType="VARCHAR" />
    <result column="param_str_2" property="paramStr2" jdbcType="VARCHAR" />
    <result column="param_int_1" property="paramInt1" jdbcType="INTEGER" />
    <result column="param_int2" property="paramInt2" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="inner_create_time" property="innerCreateTime" jdbcType="TIMESTAMP" />
    <result column="inner_update_time" property="innerUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, inner_id, inner_code, value_str, value_int, value_time, param_str_1, param_str_2, 
    param_int_1, param_int2, enable, description, inner_create_time, inner_update_time, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.Dictionary" >
    insert into dictionary (id, type, inner_id, 
      inner_code, value_str, value_int, 
      value_time, param_str_1, param_str_2, 
      param_int_1, param_int2, enable, 
      description, inner_create_time, inner_update_time, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{innerId,jdbcType=INTEGER}, 
      #{innerCode,jdbcType=VARCHAR}, #{valueStr,jdbcType=VARCHAR}, #{valueInt,jdbcType=INTEGER}, 
      #{valueTime,jdbcType=TIMESTAMP}, #{paramStr1,jdbcType=VARCHAR}, #{paramStr2,jdbcType=VARCHAR}, 
      #{paramInt1,jdbcType=INTEGER}, #{paramInt2,jdbcType=INTEGER}, #{enable,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{innerCreateTime,jdbcType=TIMESTAMP}, #{innerUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="innerId != null" >
        inner_id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="valueStr != null" >
        value_str,
      </if>
      <if test="valueInt != null" >
        value_int,
      </if>
      <if test="valueTime != null" >
        value_time,
      </if>
      <if test="paramStr1 != null" >
        param_str_1,
      </if>
      <if test="paramStr2 != null" >
        param_str_2,
      </if>
      <if test="paramInt1 != null" >
        param_int_1,
      </if>
      <if test="paramInt2 != null" >
        param_int2,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time,
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="innerId != null" >
        #{innerId,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="valueStr != null" >
        #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="valueInt != null" >
        #{valueInt,jdbcType=INTEGER},
      </if>
      <if test="valueTime != null" >
        #{valueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramStr1 != null" >
        #{paramStr1,jdbcType=VARCHAR},
      </if>
      <if test="paramStr2 != null" >
        #{paramStr2,jdbcType=VARCHAR},
      </if>
      <if test="paramInt1 != null" >
        #{paramInt1,jdbcType=INTEGER},
      </if>
      <if test="paramInt2 != null" >
        #{paramInt2,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="innerCreateTime != null" >
        #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.Dictionary" >
    update dictionary
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="innerId != null" >
        inner_id = #{innerId,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="valueStr != null" >
        value_str = #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="valueInt != null" >
        value_int = #{valueInt,jdbcType=INTEGER},
      </if>
      <if test="valueTime != null" >
        value_time = #{valueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramStr1 != null" >
        param_str_1 = #{paramStr1,jdbcType=VARCHAR},
      </if>
      <if test="paramStr2 != null" >
        param_str_2 = #{paramStr2,jdbcType=VARCHAR},
      </if>
      <if test="paramInt1 != null" >
        param_int_1 = #{paramInt1,jdbcType=INTEGER},
      </if>
      <if test="paramInt2 != null" >
        param_int2 = #{paramInt2,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.Dictionary" >
    update dictionary
    set type = #{type,jdbcType=VARCHAR},
      inner_id = #{innerId,jdbcType=INTEGER},
      inner_code = #{innerCode,jdbcType=VARCHAR},
      value_str = #{valueStr,jdbcType=VARCHAR},
      value_int = #{valueInt,jdbcType=INTEGER},
      value_time = #{valueTime,jdbcType=TIMESTAMP},
      param_str_1 = #{paramStr1,jdbcType=VARCHAR},
      param_str_2 = #{paramStr2,jdbcType=VARCHAR},
      param_int_1 = #{paramInt1,jdbcType=INTEGER},
      param_int2 = #{paramInt2,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
  <select id="load" resultMap="BaseResultMap" parameterType="java.util.List" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where enable = 1
  </select>
  <select id="loadByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where type = #{type,jdbcType=VARCHAR}
  </select>
</mapper>