<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.ExpressProductMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.ExpressProduct" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="express_company_id" property="expressCompanyId" jdbcType="INTEGER" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, express_company_id, product_code, product_name, status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from express_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from express_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.ExpressProduct" >
    insert into express_product (product_id, express_company_id, product_code, 
      product_name, status, create_time, 
      update_time)
    values (#{productId,jdbcType=INTEGER}, #{expressCompanyId,jdbcType=INTEGER}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.ExpressProduct" >
    insert into express_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="expressCompanyId != null" >
        express_company_id,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="expressCompanyId != null" >
        #{expressCompanyId,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.ExpressProduct" >
    update express_product
    <set >
      <if test="expressCompanyId != null" >
        express_company_id = #{expressCompanyId,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.ExpressProduct" >
    update express_product
    set express_company_id = #{expressCompanyId,jdbcType=INTEGER},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
   <!-- 以下为自定义接口 -->
  <select id="selectByProductName" resultMap="BaseResultMap" parameterType="map">
  	 select 
    <include refid="Base_Column_List" />
    from express_product
    where 1 = 1
    <if test="productName != null">
    	and product_name like '%${productName}%'
    </if>
  </select>
  <select id="selectByCompanyIdAndProductCode" resultMap="BaseResultMap" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from express_product
    where express_company_id = #{expressCompanyId,jdbcType=INTEGER}
    and product_code = #{productCode,jdbcType=VARCHAR}
  </select>
  <select id="selectEnableByCompanyIdAndProductCode" resultMap="BaseResultMap" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from express_product
    where express_company_id = #{expressCompanyId,jdbcType=INTEGER}
    and product_code = #{productCode,jdbcType=VARCHAR}
    and status = 1
  </select>
  <delete id="deleteByCompanyIdAndProductCode" parameterType="map">
  	delete from express_product
  	where express_company_id = #{expressCompanyId,jdbcType=INTEGER}
    and product_code = #{productCode,jdbcType=VARCHAR}
  </delete>
  <select id="selectByStatus" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from express_product
    where status = 1
  </select>
</mapper>