<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="auth_type" property="authType" jdbcType="VARCHAR" />
    <result column="menu_level" property="menuLevel" jdbcType="INTEGER" />
    <result column="main_menu_id" property="mainMenuId" jdbcType="INTEGER" />
    <result column="menu" property="menu" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="param" property="param" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, auth_type, menu_level, main_menu_id, menu, menu_url, color, param, enable, sort, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.Menu" >
    insert into menu (id, auth_type, menu_level, 
      main_menu_id, menu, menu_url, 
      color, param, enable, 
      sort, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{authType,jdbcType=VARCHAR}, #{menuLevel,jdbcType=INTEGER}, 
      #{mainMenuId,jdbcType=INTEGER}, #{menu,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authType != null" >
        auth_type,
      </if>
      <if test="menuLevel != null" >
        menu_level,
      </if>
      <if test="mainMenuId != null" >
        main_menu_id,
      </if>
      <if test="menu != null" >
        menu,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authType != null" >
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="mainMenuId != null" >
        #{mainMenuId,jdbcType=INTEGER},
      </if>
      <if test="menu != null" >
        #{menu,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.Menu" >
    update menu
    <set >
      <if test="authType != null" >
        auth_type = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="mainMenuId != null" >
        main_menu_id = #{mainMenuId,jdbcType=INTEGER},
      </if>
      <if test="menu != null" >
        menu = #{menu,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.Menu" >
    update menu
    set auth_type = #{authType,jdbcType=VARCHAR},
      menu_level = #{menuLevel,jdbcType=INTEGER},
      main_menu_id = #{mainMenuId,jdbcType=INTEGER},
      menu = #{menu,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
  <select id="load" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from menu
  	where enable = 1
  	order by sort ASC
  </select>
</mapper>