<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.OperateLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="operate_content" property="operateContent" jdbcType="VARCHAR" />
    <result column="operate_result" property="operateResult" jdbcType="VARCHAR" />
    <result column="exception_message" property="exceptionMessage" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, operate_name, operate_content, operate_result, exception_message, creat_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operate_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.OperateLog" >
    insert into operate_log (id, username, operate_name, 
      operate_content, operate_result, exception_message, 
      creat_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{operateName,jdbcType=VARCHAR}, 
      #{operateContent,jdbcType=VARCHAR}, #{operateResult,jdbcType=VARCHAR}, #{exceptionMessage,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.OperateLog" >
    insert into operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="operateName != null" >
        operate_name,
      </if>
      <if test="operateContent != null" >
        operate_content,
      </if>
      <if test="operateResult != null" >
        operate_result,
      </if>
      <if test="exceptionMessage != null" >
        exception_message,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="operateName != null" >
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null" >
        #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null" >
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="exceptionMessage != null" >
        #{exceptionMessage,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.OperateLog" >
    update operate_log
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="operateName != null" >
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null" >
        operate_content = #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null" >
        operate_result = #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="exceptionMessage != null" >
        exception_message = #{exceptionMessage,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.OperateLog" >
    update operate_log
    set username = #{username,jdbcType=VARCHAR},
      operate_name = #{operateName,jdbcType=VARCHAR},
      operate_content = #{operateContent,jdbcType=VARCHAR},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      exception_message = #{exceptionMessage,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
   <select id="getSelectByConditionNum" resultType="java.lang.Integer" parameterType="map" >
    select count(id)
    <include refid="Base_Column_List" />
    from operate_log
    where 1 = 1
    <if test="keyWord != null">
    	and(username like '%${keyWord}%' or operate_name like '%${keyWord}%' or operate_content like '%${keyWord}%' or operate_result like '%${keyWord}%')
    </if>
    <if test="startTime != null">
    	<![CDATA[and creat_time > #{startTime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="stopTime != null">
    	<![CDATA[and creat_time < #{stopTime,jdbcType=TIMESTAMP}]]>
    </if>
  </select>
   <select id="selectByCondition" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where 1 = 1
    <if test="keyWord != null">
    	and(username like '%${keyWord}%' or operate_name like '%${keyWord}%' or operate_content like '%${keyWord}%' or operate_result like '%${keyWord}%')
    </if>
    <if test="startTime != null">
    	<![CDATA[and creat_time > #{startTime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="stopTime != null">
    	<![CDATA[and creat_time < #{stopTime,jdbcType=TIMESTAMP}]]>
    </if>
    order by creat_time desc
    limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}    
  </select>
</mapper>