<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.RoutePushMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.RoutePush" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="express_id" property="expressId" jdbcType="INTEGER" />
    <result column="mail_no" property="mailNo" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="accept_time" property="acceptTime" jdbcType="TIMESTAMP" />
    <result column="accept_address" property="acceptAddress" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="op_code" property="opCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, express_id, mail_no, order_id, accept_time, accept_address, remark, op_code, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from route_push
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from route_push
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.RoutePush" >
    insert into route_push (id, express_id, mail_no, 
      order_id, accept_time, accept_address, 
      remark, op_code, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{expressId,jdbcType=INTEGER}, #{mailNo,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{acceptTime,jdbcType=TIMESTAMP}, #{acceptAddress,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{opCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.RoutePush" >
    insert into route_push
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="expressId != null" >
        express_id,
      </if>
      <if test="mailNo != null" >
        mail_no,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="acceptTime != null" >
        accept_time,
      </if>
      <if test="acceptAddress != null" >
        accept_address,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="opCode != null" >
        op_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=INTEGER},
      </if>
      <if test="mailNo != null" >
        #{mailNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptAddress != null" >
        #{acceptAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opCode != null" >
        #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.RoutePush" >
    update route_push
    <set >
      <if test="expressId != null" >
        express_id = #{expressId,jdbcType=INTEGER},
      </if>
      <if test="mailNo != null" >
        mail_no = #{mailNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptAddress != null" >
        accept_address = #{acceptAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opCode != null" >
        op_code = #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.RoutePush" >
    update route_push
    set express_id = #{expressId,jdbcType=INTEGER},
      mail_no = #{mailNo,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      accept_address = #{acceptAddress,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      op_code = #{opCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <!-- 以下为自定义接口 -->
   <select id="selectByExpressId" resultMap="BaseResultMap" parameterType="map">
   	select 
    <include refid="Base_Column_List" />
    from route_push
    where express_id = #{expressId,jdbcType=INTEGER}
   </select>
   <select id="selectByMailno" resultMap="BaseResultMap" parameterType="map">
   	select 
    <include refid="Base_Column_List" />
    from route_push
    where  mail_no = #{mailNo,jdbcType=VARCHAR}
    order by accept_time desc
   </select>
   <select id="selectByOpcodesAndTime" resultMap="BaseResultMap" parameterType="map">
   	select 
    <include refid="Base_Column_List" />
    from route_push
    where op_code in 
    <foreach collection="opCodes" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
    <if test="dateBegin != null">
    	<![CDATA[and accept_time >= #{dateBegin,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="dateEnd != null">
    	<![CDATA[and accept_time <= #{dateEnd,jdbcType=TIMESTAMP}]]>
    </if>
   </select>
   <select id="selectByOPCodesAndExpressIds" resultMap="BaseResultMap" parameterType="map">
   	select 
    <include refid="Base_Column_List" />
    from route_push
    where op_code in 
    <foreach collection="opCodes" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
    and express_id in 
    <foreach collection="expressIds" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
   </select>
   <select id="selectByCreateTime" resultMap="BaseResultMap" parameterType="map">
   	select 
    <include refid="Base_Column_List" />
    from route_push
    where DATE_FORMAT(create_time, '%Y-%m-%d') = #{dayTime,jdbcType=VARCHAR}
   </select>
   <select id="selectExpressIdsByAcceptTime" resultType="java.util.HashMap" parameterType="map">
   	SELECT express_id,MIN(accept_time) min_time
	FROM route_push 
	GROUP BY express_id
	HAVING 1=1
	<if test="dateBegin != null">
		<![CDATA[and min_time >= #{dateBegin,jdbcType=TIMESTAMP}]]>
	</if>
	<if test="dateEnd != null">
		<![CDATA[and min_time <= #{dateEnd,jdbcType=TIMESTAMP}]]>
	</if>
   </select>
</mapper>