<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.shiro.dao.TaskClockMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.shiro.model.TaskClock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task" property="task" jdbcType="VARCHAR" />
    <result column="clock" property="clock" jdbcType="TIME" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task, clock, enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task_clock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task_clock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.shiro.model.TaskClock" >
    insert into task_clock (id, task, clock, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{task,jdbcType=VARCHAR}, #{clock,jdbcType=TIME}, 
      #{enable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.shiro.model.TaskClock" >
    insert into task_clock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="task != null" >
        task,
      </if>
      <if test="clock != null" >
        clock,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="task != null" >
        #{task,jdbcType=VARCHAR},
      </if>
      <if test="clock != null" >
        #{clock,jdbcType=TIME},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.shiro.model.TaskClock" >
    update task_clock
    <set >
      <if test="task != null" >
        task = #{task,jdbcType=VARCHAR},
      </if>
      <if test="clock != null" >
        clock = #{clock,jdbcType=TIME},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.shiro.model.TaskClock" >
    update task_clock
    set task = #{task,jdbcType=VARCHAR},
      clock = #{clock,jdbcType=TIME},
      enable = #{enable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 自定义接口 -->
  <select id="selectByTask" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from task_clock
    where enable = 1
     <if test="task != null" >
    	and task = #{task,jdbcType=VARCHAR}
    </if>
    order by clock asc
  </select>
</mapper>